
:root {
  --blue-theme: #9a9ae0;
  
  --white-shade: #fff;
}
html {
  scroll-behavior: smooth;
}
html,body{
  height: 100%;
  width:100%;
  /* font-family: 'Poppins',sans-sarif; */
  color: #222;
}
.navbar{
  padding:.8rem;
}
.navbar-nav li{
  padding-right:20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.carousel-example{
  margin-top:70px;
}
.carousel-inner img{
  width: 250vh; /* width of container */
  height: 70vh; /* height of container */
  object-fit: cover;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform:uppercase;
  text-shadow:1px 1px 10px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow:1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary{
  background-color: #6648b1;
  border:1px solid #6648b1;
}
.btn-primary:hover{
  background-color:#563d7c;
  border:1px solid #563d7c;
}
.jumbotron{
  padding:1rem;
  border-radius:0;
}
.padding
{
  /* padding-left:2rem;
  padding-right:2rem; */
  padding-bottom:2rem;
}
.welcome hr{
  border-top:2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code{
  color:e45d26;
}
.fa-bold{
  color: #563d7c;
}
.fa-css3{
  color: #2163af;
}
.fa-code,.fa-bold,.fa-css3{
  font-size: 4em;
}
.fun{
  width:100%;
  margin-bottom:2rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-github{
  color:#333;
}
.fa-instagram{
  color:#4690cc;
}
.fa-linkedin{
  color: #0e76a8;
}
.fa-facebook,.fa-twitter,.fa-github,.fa-instagram,.fa-linkedin{
  font-size: 4em;
  margin:0rem 1rem 0rem 1rem;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-github:hover,.fa-instagram:hover,.fa-linkedin:hover{
  color:#d5d5d5;
}
footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
}
hr.light{
  border-top:1px solid #d5d5d5;
}
/*--Media Queries--*/
@media (max-width:992px){
  .social a{
    font-size: 4rem;
    padding: 2rem;
  }
}
/* @media(max-width:768px){
.carousel-caption{
  top: 45%;
}
.carousel-caption h1{
  font-size: 350%;
}
.carousel-caption h3{
  font-size:140%;
  font-weight: 400;
  padding-bottom: 0.2rem;
}
.carousel-caption .btn{
  font-size: 95%;
  padding: 8px 14px;
} */
.display-4{
  font-size: 200%;
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
}
.fa-facebook,.fa-twitter,.fa-github,.fa-instagram,.fa-linkedin{
  font-size: 3em;
  margin:0rem 0.8rem 0rem 0.8rem;
}


@media(max-width:576px){
.carousel-caption{
  top: 40%;
}
.carousel-caption h1{
  font-size: 250%;
}
.carousel-caption h3{
  font-size:11%;
}
.carousel-caption .btn{
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators{
  display:none;
}
.display-4{
  font-size:160%;
  /* font-family: 'Crete Round', serif; */
 
}
.fa-facebook,.fa-twitter,.fa-github,.fa-instagram,.fa-linkedin{
  font-size: 2em;
  margin:0rem 0.6rem 0rem 0.6rem;
}

}
/*--- Fixed Background Image --*/
/* figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('bg1.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
} */

/*--- Bootstrap Padding Fix --*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white-shade);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-theme);
  border-radius: 10px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightBlue-theme);
}

[class*="col-"] {
    padding: 1rem;
}
#stats_heading{
  text-align: center;
  color: #0e76a8;
}
.display-1{
  font-size: medium;
}
.card{
  background-color: rgb(187, 217, 236);
}
.btn{
  background-color: rgb(216, 27, 90);
  color: white;
}
.details{
  padding: 10px;
  background-color: #a9c2ce;

}
.details hr{
 background-color: #000;
}
.lead{
  font-family: 'Poppins', sans-serif;
}
#services h1{
  font-family: 'Crete Round', serif;
  letter-spacing: 1px;
  font-size:50px;
}
.to-top {
  background:rgb(216, 27, 90);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:white;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
